* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, nav, ul, a, button {
  font-family: Inter, sans-serif;
  font-weight: normal;
  color: white;
  transition: opacity 0.15s;
  position: relative;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 0 50px;
  width: 100%;
}

.navbar-one {
  background-color: rgba(182, 7, 10, 1);
  font-size: 12px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.navbar-one .left > div + div {
  margin-left: 20px;
}

.navbar-one .right > div {
  margin-right: 20px;
}

.navbar-one .left .Location,
.navbar-one .left .Phone,
.navbar-one .left .Email {
  margin-right: 20px;
}

.navbar-second {
  background-color: white;
  height: 100px;
  position: sticky;
  top: -5px;
}

.navbar-second ul li {
  list-style: none;
}

.navbar-second ul li > a {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: normal;
  color: rgba(182, 7, 10, 1);
  margin-left: 40px;
  text-shadow: 
    0px 0px 15px rgba(0, 0, 0, 0.2),
    0px 1px 4px rgba(0, 0, 0, 0.2);
}

nav > ul > i:hover {
  opacity: 0.8;
  transition: all 0.5s;
}

nav > ul > i:active {
  opacity: 0.4;
}

.navbar-second > ul > i {
  color: black;
  margin-left: 720px;
  margin-right: 4px;
  cursor: pointer;
}

a[href^="mailto:"], 
a.location-link, 
a.phone-link {
  color: white;
}

a:hover {
  color: black;
  transition: color 0.5s;
}

.Services:hover,
.Support:hover,
.About:hover,
.HomeText:hover{
opacity: 0.8;
transition: opacity 0.15s;
}

.TikTok:hover,
.Facebook:hover,
.Instagram:hover {
  color: black;
  transition: opacity 0.15s;
}

.Services:active,
.Support:active,
.About:active,
.HomeText:active{
opacity: 0.4;
}

.TikTok:active,
.Facebook:active,
.Instagram:active {
  opacity: 0.4;
}

button, .GetQuote, .loginButton {
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.GetQuote {
  border-radius: 5px;
  width: 140px;
  height: 35px;
  background-color: white;
  color: black;
  font-size: 18px;
  transition: opacity 0.15s;
}

.GetQuote:hover {
  opacity: 0.8;
}

.GetQuote:active {
  opacity: 0.4;
}

.loginButton {
  border-radius: 20px;
  width: 120px;
  height: 43px;
  background-color: rgba(218, 62, 65, 1);
  color: black;
  font-size: 20px;
  transition: opacity 0.15s;
}

.loginButton:hover {
  opacity: 0.8;
}

.loginButton:active {
  opacity: 0.4;
}

.Home {
  width: 100%;
  height: 150vh;
  background: url(Picture/HomePage\ Background.jpg) no-repeat center center / cover;
}

.logo {
  height: 71px;
  width: 71px;
  cursor: pointer;
  margin-left: -30px;
}

html{
  scroll-behavior: smooth;
}

section {
  padding: 100px 20px;
  height: auto;
  text-align: center;
}

.login{
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}